DATABASE_URL="postgresql://postgres:Your_Password@localhost:5432/autoscribe_ai?schema=public"
DEBUG=True
GEMINI_API_KEY=Your_Gemini_API_Key
AI_PROVIDER=gemini
BREETH_API_KEY=Your_Breeth_API_Key
BREETH_BASE_URL=https://api.thebreeth.com
CRON_SECRET=Your_Cron_key